SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


/* 标签 */
QLabel#settingLabel {
    font: 20pt bold;
    color: white;
}

